.btn-box{
	position:absolute;
	right:0px;
	top:0px;
	width:210px;
	height:100%;
	padding:20px 10px;
	text-align:center;
	background:rgb(0,66,103);
	z-index:20;
}
.btn-box:before{
	content:'';
	position:absolute;
	left:-20px;
	top:0px;
	width:50px;
	height:100%;
	background:rgb(0,66,103);
	-webkit-transform:skewX(-20deg);
	-ms-transform:skewX(-20deg);
	-o-transform:skewX(-20deg);
	-moz-transform:skewX(-20deg);
	transform:skewX(-20deg);	
}
.btn-box a{
	display:block;
	line-height:36px;
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	font-family:'Raleway',sans-serif;	
}
.btn-box a:hover{
	color:rgb(255,93,63);	
}