  <header class="header-style-two">
        <!-- Header Top -->
        <div class="header-top">
            <div class="auto-container clearfix">
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html"><img src="assets/img/resources/logo.png" alt="Logo here"></a>
                 </div>
                 
                 <!--Info Outer-->
                 <div class="info-outer">
                    <!--Info Box-->
                    <div class="info-box">
                        <img src="assets/img/icons/24.jpg" width="60px">
                    </div>
                    <!--Info Box-->
                    <div class="info-box">
                        <!-- <div class="icon"><span class="flaticon-phone-call"></span></div> -->
                        <strong>Call For Service</strong>
                        <a class="phone" href="tel:(+91) 7888225541">(+91) 7888-2255-41</a>
                        <!-- <a class="phone" href="tel:(+91) 7888225541">(+91) 7888-2266-71</a> -->
                    </div>
                    <!--Info Box-->
                    <div class="info-box social-box">
                        <div class="social-links clearfix">
                            <a href="https://www.facebook.com/heebhagwaan/" class="facebook img-circle" target="_blank"><span class="fa fa-facebook-f"></span></a>
                            <a href="https://twitter.com/heebhagwaan" class="twitter img-circle" target="_blank"><span class="fa fa-twitter"></span></a>
                        </div>
                    </div>
                 </div>
                
            </div>
        </div><!-- Header Top End -->
        
        <!-- Lower Part -->
        <div class="lower-part">
            <div class="auto-container clearfix">
                
                <!--Outer Box-->
                <div class="outer-box clearfix">
                
                    <!--Btn Box-->
                    <div class="btn-box">
                        <a href="#" class="theme-btn"><i class="fa fa-map-marker"></i> Nagpur</a>
                    </div>
                    

                    <!-- Main Menu -->
                    <nav class="main-menu">
                        
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                            
                                <li class="current"><a routerLink="home">Home</a>
                                  
                                </li>
                                <li><a routerLink="about">About</a></li>
                                <li>
                                    <a routerLink="service">Services</a>
                                </li>

                                <li>
                                    <a routerLink="book-service">Book Service</a>
                                </li>

                                
                                <li>
                                    <a routerLink="customer-review">Customer Experience</a>
                                </li>

                                <li><a routerLink="contact-us">Contact Us</a></li>

                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div>
            </div>
        </div><!-- Lower Part End-->
        
    </header>