<footer class="footer sec-padding style2">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footer-widget about-widget">
						<a href="index.html">
							<img src="assets/img/resources/logo.png" alt="logo here"/>
						</a>
						<ul class="contact">
							<li><i class="fa fa-map-marker"></i> <span>Nagpur(Orange city), Maharashtra India.</span></li>
							<li><i class="fa fa-phone"></i> <span>(+91) 7888-2255-41 / 7888-2266-71</span></li>
							<li><i class="fa fa-envelope-o"></i> <span>heebhagwaan@gmail.com</span></li>
						</ul>
						<ul class="social">
							<li><a href="https://www.facebook.com/heebhagwaan/" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/heebhagwaan" target="_blank"><i class="fa fa-twitter"></i></a></li>
							
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="footer-widget quick-links">
						<h3 class="title">Services</h3>
						     <ul>
                                <li><a href="puncher-repair.html">Vehicle puncher Repair</a></li>
                                <li><a href="petrol-delivered.html">Help when empty Tank </a></li>
                                <li><a href="bike-maintenance.html">Bike maintenance</a></li>
								<li><a href="car-washing.html">Car Washing </a></li>
								<li><a href="car-washing.html">Car Cleaning</a></li>
								
							</ul>
					</div>
				</div>
				
				<div class="col-md-7 col-sm-7">
					<div class="footer-widget contact-widget">
						<h3 class="title">Contact Us</h3>
						<form id="footer-cf" action='mail.php' method="Post">
                            <input type="hidden" name="mobile" value="mobile" required>
                            <input type="text" name="name"  placeholder="Full Name" required>
                            <input type="text" name="email" placeholder="Email Address" required>
                            <textarea name="message" placeholder="Your Message"></textarea>
                             <input type="submit" name="btnSend" value="Send" class="thm-sendbtn">
                        </form>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<section class="footer-bottom">
		<div class="container text-center">
			<p>© 2017 All Rights Reserved by <a href="http://heebhagwaan.com">heebhagwaan.com</a></p>
		</div>
	</section>
