<section class="contact-content sec-padding">
		<div class="container">
			<div class="sec-title text-center">
			</div>
			
			<div class="row">
				<div class="col-md-8">
					<h2>Contact us</h2>
                    <form  class="contact-form row" action='mail.php' method="Post">
						<div class="col-md-6">
							<input type="text" placeholder="Name" name="name" required>
							<input type="text" placeholder="Email" name="email" required>
							<input type="text" placeholder="Phone" name="mobile" required>
							
						</div>
						<div class="col-md-6">
							<textarea rows="10" cols="30" placeholder="Message" name="message" required></textarea>
						</div>
						<div class="col-md-12 contact_send">
                            <input class="thm-sendbtn"  type="submit" name="btnSend" value="SEND"> 
                        </div>
					</form>
				</div>
				<div class="col-md-4 address-bar">
					<h2>Address</h2>
					<ul class="contact-info">
						<li>
							<div class="icon-box">
								<div class="inner">
									<i class="fa fa-map-marker"></i>
								</div>
							</div>
							<div class="content-box">
								<h4>Address</h4>
								<p> Nagpur(Orange city), Maharashtra <br>India.</p>
							</div>
						</li>
						<li>
							<div class="icon-box">
								<div class="inner">
									<i class="fa fa-phone"></i>
								</div>
							</div>
							<div class="content-box">
								<h4>Phone</h4>
								<p>(+91) 7888-2255-41<br> (+91) 7888-2266-71</p>
							</div>
						</li>
						<li>
							<div class="icon-box">
								<div class="inner">
									<i class="fa fa-envelope-o"></i>
								</div>
							</div>
							<div class="content-box">
								<h4>Email</h4>
								<p>heebhagwaan@gmail.com</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>