<section class="sec-padding about-content full-sec inner-title4">
        <div class="container">
            <div class="row">
                <div class="col-md-7 hidden-md">
                    <img alt="Awesome Image" src="assets/img/resources/about-1.jpg">
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="full-sec-content m-top15">
                        <div class="sec-title style-two">
                            <h2>More about us</h2>
                            <span class="decor">
                                <span class="inner"></span>
                            </span>
                        </div>
                        <h3>We promise our service availability at any day, any time @Nagpur City.</h3>
                        <br>
                        <p>"There are many who subscribe to the convention that service is a business cost, but our data demonstrates that superior service is an investment that can help drive business growth. Investing in quality talent, and ensuring they have the skills, training and tools that enable them to empathize and actively listen to customers are central to providing consistently excellent service experiences."</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-call-to-action subscribe-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h3>The Service You Expect, The Quality You Deserve! </h3>
                    <p>Journey is as much important as the destination. We make it all perfect.</p>
                </div>
                <div class="col-md-3">
                    <a href="tel:(+91) 7888225541" class="thm-btn inverse pull-right">Call For Service</a>
                </div>
            </div>
        </div>
    </section>
