<section class="sec-padding" id="single_Service">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-12 col-md-12">
					<div class="">
						<div id="invisalign" class="service_mainconetent">
							
							<div class="about_promo_box">
								<h2>Pricing &amp; Terms</h2>
								 <h4>We always prepared to attend any kind of service at anytime of a day </h4>

								<div class="row">
								
									<div class="col-lg-7 col-md-7 rate-card">
										<div class="span7">
                                            <h3 class="section-header"></h3>
                                                <table width="100%">
                                                  <tbody><tr>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            <b>  DAY </b>
                                                        </td>
                                                        <td>
                                                            <b>NIGHT</b>
                                                        </td>
                                                    
                                                    </tr>
                                                    <tr height="10px">
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Flat Tyre (Car)
                                                        </td>
                                                        <td>
                                                            150
                                                        </td>
                                                        <td>
                                                            300
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            Flat Tyre (Bike)
                                                        </td>
                                                        <td>
                                                            100
                                                        </td>
                                                        <td>
                                                            200
                                                        </td>
                                                    </tr>
                                                    <tr height="15px">
                                                    </tr>
                                                    <tr>
                                                </tr>
                                                <tr>
                                                    <td colspan="3"><font size="1">+ Flat tyre fixing cost is only for one puncture. Additional punctures will be charged 50INR extra</font></td>
                                                    
                                                </tr>
                                                
                                                <tr>
                                                    <td colspan="3"><font size="1">+ We will charge 80<font size="1">INR</font> for Bike &amp; 150<font size="1">INR</font> for Car if the request is cancelled after our technician reach the spot</font></td>
                                                    
                                                </tr>
                                                
                                                <tr>
                                                    <td colspan="3"><font size="1">+ All the spares, consumables &amp; accessories are charged extra</font></td>
                                                    
                                                </tr>
                                                </tbody></table>
                                          </div>
									</div>
									<div class="col-lg-5 col-md-5">
										<div class="pormo_box_img">
											<img alt="" src="assets/img/services/puncher.jpg">
										</div>
									</div>
									
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>