@media screen and (max-width: 500px){

.login-top.left, .login-top.right {
    width: 100%!important;
}  
.tp-banner-container {width: 100%!important;}  
.tp-caption h2 {
    font-size: 16px !important;font-weight: bold!important;
}
.tp-caption span {
    font-size: 16px !important;
}

.main .icon {width: auto!important;}
.welcome-iconbox {
    margin-bottom: 20px;
}
.main-slider {
    margin-top: 55px;
}
.featured-inner {margin-top: 30px; padding-top: 0;padding-bottom: 0;}
.sec-padding08 { padding-bottom: 40px;}

.sec-padding {
    padding: 0 !important;
}
.service-box .content a.thm-btn {
    margin-bottom: 5px;
}
.offer-section .inner-content .title {
    font-size: 20px;}  
.offer-section .inner-content .title span {
    font-size: 32px;
}

.why_choos {margin-top: 30px;}

.sec-title h2 {
    font-size: 24px;}

.gallery-section {padding-top: 30px!important;}
.blog-home {
    margin-top: 30px;
}
.footer-call-to-action h3 {
    font-size: 24px;}
.footer.style2 .footer-widget {
    padding-top: 15px;
}
.footer-widget.about-widget img {
    margin-bottom: 27px;
    margin: auto;
    display: block;}  

.appointment-content {margin-top: 30px; margin-bottom: 30px;}     
.cust-blog {margin-top: 70px!important;} 
.contact-content {margin-top: 30px;}
.address-bar {margin-top: 30px;}
.about-content.full-sec {
    margin-top: 70px;
}
.blog-details {margin-top: 70px;}
#single_Service {
    margin-bottom: 30px;}
.about-content.full-sec .full-sec-content {
    padding: 30px 0 0;
}
.about-content.full-sec h3 {
    font-size: 20px;
    line-height: 29px;
}
.info-box img {width: 40px;} 
.info-box.social-box {display: none!important;} 


.bottomleft h1 {
    margin: 0;
    padding: 21px;
    line-height: 37px;
    text-align: center;}

.bottomleft h1 a {
    color: #fff;
    font-size: 0.8em;}    

.middle {
    padding-bottom: 10px;}


}