<section class="sec-padding contact-content appointment-content">
		<div class="container">
			<div class="title-box">
				<span>It’s easy and fast</span>
				<h3>Make an Appoinment</h3>
				<p>heebhagwaan.com provide 24 hours vehicle care for both bikes & cars including car repairs, bike repairs, General services & empty tank.</p>				
			</div>
			<form class="contact-form" action='mail.php' method="Post">
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-6">
							<input type="text" placeholder="Full Name" name="name" required>
							<input type="text" class="date-picker hasDatepicker" name="address" placeholder="Full Address" id="dp1497872885963" required>
							<input type="text" placeholder="Phone" name="mobile" required>
						</div>
						<div class="col-md-6">
							<input type="text" placeholder="Vehicle Number" name="email" required>
                             <input type="text" class="date-picker hasDatepicker" name="date" placeholder="Select Date" id="J-demo-01" required>
							<div class="select-input-wrapper">
								<select name="category" class="select-input" id="ui-id-1" style="display: none;" required>
								<option selected="selected" value="">Select Category</option>
								<option value="Car Washing">Car Washing & Cleaning</option>
								<option value="Puncher Repair">Vehicle puncher Repair</option>
								<option value="Empty Tank">Help when empty Tank </option>
								<option value="Bike maintenance">Bike maintenance</option>
								</select>
                               
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-5">
					<textarea rows="10" cols="30" placeholder="Message" name="message"></textarea>
				</div>
                <div class="col-md-12 contact_send">
				    <input class="thm-sendbtn" type="submit" name="btnSend" value="Book Now"> 
                </div>
			</form>
		</div>
	</section>
