<section class="sec-padding about-content full-sec inner-title4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-md">
                    <img alt="Awesome Image" src="assets/img/resources/coming.jpg">
                </div>
                
            </div>
        </div>
</section>