<section class="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 sec-title colored text-center">
                    <h2>Services</h2>
                    
                    <span class="decor"><span class="inner"></span></span>
                </div>
            </div>
        </div>
    </section>
<section class="call-to-action home-one">
        <div class="container-fluid">
            <div class="clearfix">
                <div class="call-to-action-corner col-md-4" style="background-image: url(assets/img/call-to-action/left-box-bg.jpg);">
                    <div class="single-call-to-action open-hours">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-car-wash-machine"></i>
                            </div>                      
                        </div>
                        <div class="content-box">
                            <h3 class="title">Car Washing & Cleaning</h3>
                            <p>We know how good it feels to drive a clean car. Everything we do is focused on providing the best car wash and customer service experience in Nagpur. We believe that no matter what you drive, you will feel even better about your car after receiving service from us. </p>
                        </div>
                    </div>
                </div>
                <div class="call-to-action-center col-md-4" style="background-image: url(assets/img/services/mechanic.jpg);">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-car-settings"></i>
                            </div>                      
                        </div>
                        <div class="content-box">
                            <h3 class="title">Vehicle puncher Repair</h3>
                            <p>Punctures are the worst, and have a nasty habit of hitting when they are least convenient. However, if it’s possible to carry out a puncture repair, then this works out at a fraction of the cost of a new tyre. That's why at TyresOnTheDrive we provide a puncture repair service to get you safely on your way .</p>
                        </div>
                    </div>
                </div>
                <div class="call-to-action-corner col-md-4" style="background-image: url(assets/img/services/petrol-deliver.jpg);">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-petrol-fuel"></i>
                            </div>                      
                        </div>
                       <div class="content-box">
                            <h3 class="title">Help when empty Tank </h3>
                            <p>No more worries when you get stuck next time because of empty fuel tank. We deliver petrol of your choice at your spot within 30mins or early. We are not selling petrol only help to people who is in trouble.Fuel delivery charge is additional.   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
    