<section class="main-slider revolution-slider">
<div class="tp-banner-container">
    <div class="tp-banner">
      <div *ngFor="let i of sliderArray; let select = index;">
        <img src="{{i.img}}" alt="{{i.alt}}" >
    </div></div>
</div>
</section>
<section class="featured-three-column featured-inner  service-section-inne">
        <div class="container">
            <div class="row clearfix">
                
                <!--Column-->
                <div class="col-xs-12 col-sm-6 col-md-4 column">
                    <article style="background-image: url(assets/img/resources/feature1.jpg);" class="inner-box dark-overlay">
                        <div class="content">
                            <h3>Car Washing & Cleaning</h3>
                            <div class="text">
                                <p> We know how good it feels to drive a clean car. Everything we do is focused on providing the best car wash and customer service experience in Nagpur. We believe that no matter what you drive, you will feel even better about your car after receiving service from us.</p>
                            </div>
                            <div class="link"><a class="thm-btn inverse" href="tel:(+91) 7888225541"><i class="fa fa-caret-right text-text-thmed"></i> Contact now</a></div>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="col-xs-12 col-sm-6 col-md-4 column">
                    <article style="background-image: url(assets/img/resources/feature1.jpg);" class="inner-box">
                        <div class="content">
                            <h3>Vehicle puncher Repair</h3>
                            <div class="text">
                                <p>Punctures are the worst, and have a nasty habit of hitting when they are least convenient. However, if it’s possible to carry out a puncture repair, then this works out at a fraction of the cost of a new tyre.</p>
                            </div>
                            <div class="link"><a class="read-more thm-btn normal-btn" href="tel:(+91) 7888225541"><span class="fa fa-caret-right"></span> Contact now</a></div>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="col-xs-12 col-sm-6 col-md-4 column">
                    <article style="background-image: url(assets/img/resources/feature1.jpg);" class="inner-box dark-overlay">
                        <div class="content">
                            <h3>Help when empty Tank </h3>
                            <div class="text">
                                <p>No more worries when you get stuck next time because of empty fuel tank. We deliver petrol of your choice at your spot within 30mins or early. We are not selling petrol only help to people who is in trouble.Fuel delivery charge is additional.
                                </p>
                            </div>
                            <div class="link"><a class="thm-btn inverse" href="tel:(+91) 7888225541"><i class="fa fa-caret-right text-text-thmed"></i> Contact now</a></div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome-section sec-padding08">
          <div class="container">            
               <div class="row">
                    <div class="col-md-12">
                         <div class="full-sec-content welcome-inner text-center">
                              <div class="sec-title">
                                   <h2 class="sub-title"> <span class="color-theme"></span></h2>
                                   <h1 class="title">Welcome to <span class="color-theme">HeeBhagwaan.com</span></h1>
                                   <span class="decor">
                                        <span class="inner"></span>
                                   </span>
                              </div>
                              <p class="p-tex">Welcome to <span class="color-theme">Heebhagwaan.com</span> a concept developed by us to organize the Needed Service segment to give the community a new definition of Vehicle care and detailing services which are not professionally followed in India. Based at Nagpur our endeavour is to spread the awareness amongst Vehicle users about the Clean Vehicle Culture & Vehicle Hygiene. </p>
                              <div class="welcome-feature sec-padding55">
                                   <div class="row inner-title">
                                        <div class="col-sm-6 col-md-3">
                                             <div class="welcome-iconbox bg1">
                                                  <div class="content">
                                                       <i class="flaticon-car-wash"></i>
                                                       <div class="overlay-content">
                                                            <p>One Stop Solution For Car Washing & Cleaning</p>
                                                       </div>
                                                       <div class="details">
                                                            <a (click)="changeRoute('car-washing')">Car Washing & Cleaning </a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                             <div class="welcome-iconbox bg2">
                                                  <div class="content">
                                                       <i class="flaticon-repair"></i>
                                                       <div class="overlay-content">
                                                            <p>Get back on the road with puncture repair from Heebhagwaan.com</p>
                                                       </div>
                                                       <div class="details">
                                                            <a (click)="changeRoute('puncher-repair')">Vehicle puncher Repair</a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                             <div class="welcome-iconbox bg3">
                                                  <div class="content">
                                                       <i class="flaticon-petrol-fuel"></i>
                                                       <div class="overlay-content">
                                                            <p>Fuel delivery is available depending on the fuel availability in the city.</p>
                                                       </div>
                                                       <div class="details">
                                                            <a (click)="changeRoute('petrol-delivered')">Help when empty Tank</a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                             <div class="welcome-iconbox bg4">
                                                  <div class="content">
                                                       <i class="flaticon-vehicle"></i>
                                                       <div class="overlay-content">
                                                            <p>We’ll wave a magic wand over get your bike looking and feeling fabulous.</p>
                                                       </div>
                                                       <div class="details">
                                                            <a (click)="changeRoute('bike-washing')">Bike maintenance</a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <p class="color-theme sec-padding31" style="font-size: 18px;">The goal as a company is to have customer service that is not just the best but legendary.</p>
                              <a href="tel:(+91) 7888225541" class="thm-btn btn-black sec-padding1  btn-inner">Contact Us</a>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <section class="service-section sec-padding bg-color-f7  service-section-inne">
          <div class="container">
               <div class="sec-title text-center">
                    <h2>Our <span class="color-theme">Services</span></h2>
                    <p>WE ARE EXPERT AT EVERY ART IN AUTOMOBILES</p>
                    <span class="decor"><span class="inner"></span></span>
               </div>

               <div class="row">
                <div class="service-content">
                    <div class="col-md-4 col-sm-6 col-xs-12 welcome-inner5">
                        <div class="service-box">
                            <div class="img-thumb">
                                <img class="full-width" src="assets/img/services/car-wash.jpg" alt="">
                                <div class="overlay">
                                    <p class="text"> Our formula is simple, we make people feel good by delivering a clean, dry and shiny car every time.</p>
                                    <a class="value" href="#"> Start From <span class="service-price">150 RS/-</span></a>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a (click)="changeRoute('car-washing')">Car Washing & Cleaning</a></h4>
                                <a href="tel:(+91) 7888225541" class="thm-btn flat-btn sec-padding1">Contact now <i class="fa fa-arrow-circle-right"></i></a>
                                <a (click)="changeRoute('car-washing')" class="thm-btn btn-black flat-btn">Fare Chart <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 welcome-inner5">
                        <div class="service-box">
                            <div class="img-thumb">
                                <img class="full-width" src="assets/img/services/puncher.jpg" alt="">
                                <div class="overlay">
                                    <p class="text">we provide a puncture repair service to get you safely on your way.</p>
                                    <a class="value" href="#"> Start From <span class="service-price">100 RS/-</span></a>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a (click)="changeRoute('puncher-repair')">Vehicle puncher Repair</a></h4>
                                <a href="tel:(+91) 7888225541" class="thm-btn flat-btn sec-padding1">Contact now <i class="fa fa-arrow-circle-right"></i></a>
                                <a (click)="changeRoute('puncher-repair')" class="thm-btn btn-black flat-btn">Fare Chart <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 welcome-inner5">
                        <div class="service-box">
                            <div class="img-thumb">
                                <img class="full-width" src="assets/img/services/petrol-deliver.jpg" alt="">
                                <div class="overlay">
                                    <p class="text">Help to people who is in trouble<br>We deliver petrol your choice at your spot.</p>
                                    <a class="value" href="#"> Start From <span class="service-price">50 Rs/-</span></a>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a (click)="changeRoute('petrol-delivered')">Help when empty Tank</a></h4>
                                <a href="tel:(+91) 7888225541" class="thm-btn flat-btn sec-padding1">Contact now <i class="fa fa-arrow-circle-right"></i></a>
                                <a (click)="changeRoute('petrol-delivered')" class="thm-btn btn-black flat-btn">Fare Chart<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 welcome-inner5">
                       
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 welcome-inner5">
                        <div class="service-box">
                            <div class="img-thumb">
                                <img class="full-width" src="assets/img/services/mechanic.jpg" alt="">
                                <div class="overlay">
                                    <p class="text">If your bike is down, we know how to fix it.</p>
                                    <a class="value" href="#"> Start From <span class="service-price">150 RS/-</span></a>
                                </div>
                            </div>
                            <div class="content">
                                <h4 class="title"><a (click)="changeRoute('bike-washing')">Bike maintenance</a></h4>
                                <a href="tel:(+91) 7888225541" class="thm-btn flat-btn sec-padding1">Contact now <i class="fa fa-arrow-circle-right"></i></a>
                                <a (click)="changeRoute('bike-washing')" class="thm-btn btn-black flat-btn">Fare Chart<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 welcome-inner5">
                       
                    </div>
                </div>
            </div>
          </div>
     </section>


     <section class="offer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 sm-text-center">
                    <div class="inner-content">
                        <h2 class="title"><span class="color-theme">3</span> Month Promo Package only for <span class="color-theme">Nagpurkar's</span></h2>
                        <p>Keeping a well-maintained vehicle is paramount to your safety. 3 month free all services.</p>
                    </div>
                </div>
                <div class="col-md-4 text-right sm-text-center">
                    <a href="tel:(+91) 7888226671" class="thm-btn inner-title3">Contact for Package</a>
                </div>
            </div>
        </div>
    </section>
     

     <section class="sec-padding sec-padding6 why_choos">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="sec-title style-two sm-text-center sec-inner">
                        <h2 class="inner-title3"><span class="color-theme">Why</span> Choose Us</h2>
                        <p class="sec-inner">We see our customers as invited guests to a party, and we are the hosts. It’s our job every day to make every important aspect of the customer experience a little bit better.</p>
                        <span class="decor">
                            <span class="inner"></span>
                        </span>
                    </div>
                    <div class="welcome-feature welcome-inner2">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="welcome-iconbox bg1 inner-title2">
                                    <div class="content">
                                        <i class="flaticon-speedometer"></i>
                                        <div class="overlay-content">
                                            <p>Every big business is built on Time</p>
                                        </div>
                                        <div class="details">
                                            <a href="#">On time service</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="welcome-iconbox bg2 inner-title2">
                                    <div class="content">
                                        <i class="flaticon-business"></i>
                                        <div class="overlay-content">
                                            <p>Quality, service, cleanliness, and value.</p>
                                        </div>
                                        <div class="details">
                                            <a href="#">Trusted</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="welcome-iconbox bg3 inner-title2">
                                    <div class="content">
                                        <i class="flaticon-safe-car"></i>
                                        <div class="overlay-content">
                                            <p>Do exactly what you would do if you felt most secure.</p>
                                        </div>
                                        <div class="details">
                                            <a href="#">Secure</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="welcome-iconbox bg4 inner-title2">
                                    <div class="content">
                                        <i class="flaticon-car-with-dollar-sign-on-top"></i>
                                        <div class="overlay-content">
                                            <p>There's no such thing as low-cost fuels.</p>
                                        </div>
                                        <div class="details">
                                            <a href="#">Low Cost</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <form class="appointment-form accordion-inner" action='mail.php' method="Post">
                        <div class="sec-title style-two welcome-inner5">
                            <h2 class="">Book <span class="color-black">Service</span></h2><p class="color-theme">We are open 24 hours a day for Emergency</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-inner2 sec-inner2">
                                <div class="form-group">
                                    <input type="text" placeholder="Full Name" name="name" class="form-control" required>
                                </div>                              
                            </div>
                            <div class="col-sm-6 form-inner form-space">
                                <div class="form-group">
                                    <input type="text" placeholder="Vehicle Number" name="email" class="form-control" required>
                                </div>                              
                            </div>
                            <div class="col-sm-6 form-inner2 sec-inner2">
                                <div class="form-group">
                                    <input type="text" name="mobile" placeholder="Mobile Number" class="form-control" required>
                                </div>                              
                            </div><div class="col-sm-6 form-inner form-space">
                                <div class="form-group">
                                    <input type="text" placeholder="Address" name="address" class="form-control" required>
                                </div>                              
                            </div>
                            <div class="col-sm-6 form-inner2 sec-inner2">
                                <div class="form-group">
                                    <input type="text" name="date" placeholder="Select Date" class="form-control" id="J-demo-01" required>
                                   

                                </div>                              
                            </div>
                            <div class="col-sm-6 form-inner form-space">
                                <div class="form-group">
                                    <select name="category" class="form-control" required>
                                        <option selected="selected" value="">Select Category</option>
                                        <option value="Car Washing & Cleaning">Car Washing & Cleaning</option>
                                        <option value="Vehicle puncher Repair">Vehicle puncher Repair</option>
                                        <option value="Empty Tank">Empty Tank</option>
                                        <option value="Bike maintenance">Bike maintenance</option>
                                    </select>
                                </div>                              
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea placeholder="Your Message" name="message" class="form-control"></textarea>
                                </div>                              
                            </div>
                        </div>
                        <input type="submit" name="btnSend" value="Send" class="thm-btn btn-black flat-btn">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-padding">
          <div class="container">
               <div class="sec-title text-center">
                    <h2>Our Working <span class="color-theme">Process</span></h2>
                    <p>Customer service is not a department, it’s everyone’s job. </p>
                    <span class="decor"><span class="inner"></span></span>
               </div>
               
               <div class="row working-process">
                    <div class="col-md-3 col-sm-3">
                         <div class="process-box">
                              <div class="icon">
                                   <img src="assets/img/icons/chil-hand-on-the-hand-of-an-adult.png">
                                   <div class="process-number">1</div>
                              </div>
                              <h4 class="title">Need Help ?</h4>
                         </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                         <div class="process-box">
                              <div class="icon">
                                   <img src="assets/img/icons/telephone-line-24-hours-service.png">
                                   <div class="process-number">2</div>
                              </div>
                              <h4 class="title">Call Us</h4>
                         </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                         <div class="process-box">
                              <div class="icon">
                                   <img src="assets/img/icons/running-repair-man-with-wrench-and-kit.png">
                                   <div class="process-number">3</div>
                              </div>
                              <h4 class="title">Our Employee solve issue</h4>
                         </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                         <div class="process-box">
                              <div class="icon no-arrow">
                                   <img src="assets/img/icons/payment-method.png">
                                   <div class="process-number">4</div>
                              </div>
                              <h4 class="title">Pay at the Paytm or cash</h4>
                         </div>
                    </div>
               </div>

          </div>
     </section>
<!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".page-wrapper"><span class="fa fa-long-arrow-up"></span></div>



                  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                      <div class="modal-dialog">
                        <div class="main">
                          <div class="login-top left col-sm-7">
                            <div class="social_icons">
                              <!-- Facebook -->
                              <div class="slide-social w3l">
                                <a routerLink="home">
                                  <div class="button">Facebook
                                  </div>
                                  <div class="facebook icon"> 
                                    <i class="facebook">
                                    </i> 
                                  </div>
                                  <div class="facebook slide">
                                    <p>Facebook
                                    </p>
                                  </div>
                                  <div class="clear">
                                  </div>
                                </a>
                              </div>
                              <!-- Twitter -->
                              <div class="slide-social w3l">
                                <a routerLink="home">
                                  <div class="button">Twitter
                                  </div>
                                  <div class="twitter icon"> 
                                    <i class="twitter">
                                    </i>
                                  </div>
                                  <div class="twitter slide">
                                    <p>Twitter
                                    </p>
                                  </div>
                                  <div class="clear">
                                  </div>
                                </a> 
                              </div>
                            </div>
                            <form>
                              <input type="text" name="name" class="name" placeholder="Your Name" required>
                              <input type="text" name="email" class="email" placeholder="Your Email" required> 
                              <input type="password" name="password" class="password" placeholder="Password" required>
                              <input type="password" name="password" class="password" placeholder="Confirm Password" required>                                         
                              <input type="submit" value="SIGN UP">
                            </form>
                          </div>  
                          <div class="login-top right col-sm-5"> 
                            <h3>Login
                            </h3>
                            <form action="#" method="post">
                              <input type="text" class="email1 " name="password" placeholder="Email" required>
                              <input type="password" class="password1" name="password"  placeholder="Password" required>   
                              <input type="checkbox" id="brand" value="" required>
                              <label for="brand">
                                <span>
                                </span> Remember me
                              </label>
                              <div class="login-bottom">
                                <ul>
                                  <li>
                                    <a href="#">Forgot password?
                                    </a>
                                  </li>
                                  <li>
                                    <input type="submit" value="LOGIN">
                                  </li>
                                  <div class="clear">
                                  </div>
                                </ul>
                              </div> 
                            </form>
                          </div>
                          <div class="clear">
                          </div>
                        </div>
                      </div>
                    </div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="bgimg">
         
          <div class="middle">
            <h1>SERVICE WILL START IN</h1>
            <hr>
            <p>35 days</p>
          </div>

         <!--  <div class="bottomleft">
            <p>Heebhagwaan.com is getting its first major update. We are working hard on polishing services so stay tuned!</p>
          </div> -->
          <div class="bottomleft">
          <h1>
              <a href="" class="typewrite" data-period="2000" data-type='[ "Heebhagwaan.com is getting its first major update. We are working hard on polishing services so stay tuned!" ]'>
                <span class="wrap"></span>
              </a>
            </h1>
            </div>
         
        </div>
      </div>
    </div>

  </div>
</div>
<audio controls autoplay style="display:none">
  <source src="assets/img/type.mp3" type="audio/ogg">
  <source src="assets/img/type.mp3" type="audio/mpeg">
</audio>